section.prefooter {
  @extend %section_prop;
}

.pink_three {
  @extend .pink;
  height: 850px;
}
.traditional {
  h1 {
    font-size: 40px;
    line-height: 1.6;
    font-weight: 600;
  }
}

.column {
  i {
    text-align: left;
    color: $button_colour;
  }
  a {
    @include a_style;
    font-weight: normal;
  }
  & a:hover {
    color: $a_hover_colour;
  }
}

.text_box {
  background-color: $main_colour;
  border: 1px solid grey;
  font-size: 17px;
  border-radius: 7px;
  max-width: 600px;
  text-align: left;
  padding: 30px;
  line-height: 1.4;
  margin-bottom: 30px;
    p {
      padding-bottom: 20px;
    }
    img {
      max-width: 38px;
      float: left;
      padding-right: 15px;
    }
    #names {
      font-size: 15px;
      color: $button_colour;
      line-height: 1.4;
    }
    #jobs {
      font-size: 12px;
    }
}

.buttons_end {
  @extend %google_slack;
  justify-content: space-evenly;
  width: 70%;
  margin: 20px auto;

  button {
    @include button_style;
    color: $main_colour;
    background-color: $button_colour;
    font-weight: normal;
    padding-left: 15px;
    padding-right: 15px;

    &:hover {
      background-color: #021d47;
    }

    i {
      color: $main_colour;
      padding-right: 5px;
    }
  }

}
